.pic-container {
  flex-basis: calc((100% - 1em * 4) / 5);
  position: relative;
}
.pic {
  height: 25em;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.pic-info {
  display: flex;
  gap: 1em;
  justify-content: start;
}
.favourites {
  position: absolute;
  top: 0;
  right: 0.1em;
  font-size: 2em;
  padding: 0 0.2em;
  transition: transform 0.8s ease-out;
}
.favourites:active {
  transform: scale(1.9);
}
.pic:hover {
  opacity: 50%;
}

@media (max-width: 1000px) {
  .pic-container {
    flex-basis: calc((100% - 1em * 3) / 4);
  }
}
@media (max-width: 700px) {
  .pic-container {
    flex-basis: calc((100% - 1em * 2) / 3);
  }
}
