.wrapper {
  flex-basis: calc((100% - 1em * 5) / 6);
  position: relative;
  height: 25em;
}
.picture-wrapper {
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  text-align: center;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.favourites {
  position: absolute;
  top: 0.1;
  right: 0.1em;
  font-size: 2em;
  padding: 0 0.2em;
  transition: transform 0.8s ease-out;
}
.favourites:active {
  transform: scale(1.9);
}
.wrapper::after {
  position: absolute;
  content: attr(data-after);
  bottom: 0;
  text-align: center;
  padding: 0.5em;
  color: white;
}
.wrapper::before {
  position: absolute;
  content: attr(data-before);
  top: 0;
  left: 0;
  color: white;
  padding: 0.5em;
  z-index: 99;
}
@media (max-width: 1000px) {
  .wrapper {
    flex-basis: calc((100% - 1em * 3) / 4);
  }
}
@media (max-width: 700px) {
  .wrapper {
    flex-basis: calc((100% - 1em * 2) / 3);
  }
}
