.site-nav-container {
  background-color: rgb(218, 218, 218);
}
.site-nav {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1em 0em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.site-nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}
.site-nav span {
  color: #e60023;
}

.site-nav a {
  color: #e60023;
}
.site-nav a span {
  color: black;
}
